   
   
   
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">
                        <i class="fas fa-bolt footer__logo-icon"></i> Huu-Neon
                    </a>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Otevírací doba:</h3>

                    <ul class="footer__data">
                        <li class="footer__information">Po - Ne: 8:00h - 19:00h</li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Adresa</h3>

                    <ul class="footer__data">
                        <li class="footer__information">SAPA, Praha 4</li>
                        <li class="footer__information">142 00 Praha Libušská</li>
                    </ul>

                    <div class="footer__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!4v1644424948349!6m8!1m7!1shqIrOniopzd2z_oLDiFfJg!2m2!1d50.00211659258461!2d14.47218009066848!3f215.73!4f0!5f0.7820865974627469" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                
            </div>

            <p class="footer__copyright">© QNG. All rights reserved</p>
        </footer>

        <!-- Scroll Up -->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="fas fa-chevron-up scrollup__icon"></i>
        </a>


        <script src="js/app.js"></script>
    </body>
</html>