<header id="header" class="header">
    <nav class="nav container">

        <a href="#" class="nav__logo">
            <i class="fas fa-bolt nav__logo-icon"></i> Huu-Neon
        </a>

        <div id="nav-menu" class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#sign" class="nav__link">Vytvořit Design</a>
                </li>
                <li class="nav__item">
                    <a href="#gallery" class="nav__link">Galery</a>
                </li>
                <li class="nav__item">
                    <a href="#contact" class="nav__link">Kontakt</a>
                </li>
            </ul>

            <div id="nav-close" class="nav__close">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="nav__btns">
            <a href="tel:+420607808888" class="nav__tel">
                <i class="fas fa-phone"></i> +420 607 808 888
            </a>

            <div id="nav-toggle" class="nav__toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>