@font-face {
    font-family: 'Hamilton';
    src: url('../fonts/Hamilton.ttf');
}
@font-face {
    font-family: 'Alexa';
    src: url('../fonts/Alexa.ttf');
}
@font-face {
    font-family: 'Bayview';
    src: url('../fonts/Bayview.ttf');
}
@font-face {
    font-family: 'Amsterdam';
    src: url('../fonts/Amsterdam.ttf');
}
@font-face {
    font-family: 'Greenworld';
    src: url('../fonts/Greenworld.ttf');
}
@font-face {
    font-family: 'NewCursive';
    src: url('../fonts/NewCursive.ttf');
}
@font-face {
    font-family: 'Barcelona';
    src: url('../fonts/Barcelona.ttf');
}
@font-face {
    font-family: 'Vintage';
    src: url('../fonts/Vintage.ttf');
}
@font-face {
    font-family: 'Amanda';
    src: url('../fonts/Amanda.ttf');
}
@font-face {
    font-family: 'Freespirit';
    src: url('../fonts/Freespirit.ttf');
}
@font-face {
    font-family: 'Chelsea';
    src: url('../fonts/Chelsea.ttf');
}
@font-face {
    font-family: 'Signature';
    src: url('../fonts/Signature.ttf');
}
@font-face {
    font-family: 'Austin';
    src: url('../fonts/Austin.ttf');
}
@font-face {
    font-family: 'NeonScript';
    src: url('../fonts/Neonscript.ttf');
}
@font-face {
    font-family: 'Freehand';
    src: url('../fonts/Freehand.ttf');
}
@font-face {
    font-family: 'LoveNote';
    src: url('../fonts/LoveNote.ttf');
}
@font-face {
    font-family: 'Northshore';
    src: url('../fonts/Northshore.ttf');
}
@font-face {
    font-family: 'Beachfront';
    src: url('../fonts/Beachfront.ttf');
}
@font-face {
    font-family: 'Royalty';
    src: url('../fonts/Royalty.ttf');
}
@font-face {
    font-family: 'Rocket';
    src: url('../fonts/Rocket.ttf');
}
@font-face {
    font-family: 'WildScript';
    src: url('../fonts/WildScript.ttf');
}
@font-face {
    font-family: 'Avante';
    src: url('../fonts/Avante.ttf');
}
@font-face {
    font-family: 'Monaco';
    src: url('../fonts/Monaco.ttf');
}
@font-face {
    font-family: 'Waikiki';
    src: url('../fonts/Waikiki.ttf');
}
@font-face {
    font-family: 'ClassicType';
    src: url('../fonts/ClassicType.ttf');
}
@font-face {
    font-family: 'Typewriter';
    src: url('../fonts/Typewriter.ttf');
}
@font-face {
    font-family: 'Buttercup';
    src: url('../fonts/Buttercup.ttf');
}
@font-face {
    font-family: 'Melbourne';
    src: url('../fonts/Melbourne.ttf');
}
@font-face {
    font-family: 'NeoTokyo';
    src: url('../fonts/NeoTokyo.ttf');
}
@font-face {
    font-family: 'LoveNeon';
    src: url('../fonts/LoveNeon.ttf');
}
@font-face {
    font-family: 'Marquee';
    src: url('../fonts/Marquee.ttf');
}
@font-face {
    font-family: 'Mayfair';
    src: url('../fonts/Mayfair.ttf');
}
@font-face {
    font-family: 'NeonGlow';
    src: url('../fonts/NeonGlow.ttf');
}
@font-face {
    font-family: 'NeonLite';
    src: url('../fonts/NeonLite.ttf');
}
@font-face {
    font-family: 'Neontrace';
    src: url('../fonts/Neontrace.ttf');
}
@font-face {
    font-family: 'Nevada';
    src: url('../fonts/Nevada.ttf');
}
@font-face {
    font-family: 'SciFi';
    src: url('../fonts/SciFi.ttf');
}