.hover-white:hover,
.hover-green:hover,
.hover-red:hover,
.hover-blue:hover,
.hover-yellow:hover,
.hover-pink:hover{
    transition: .3s;
}

.shadow-white, .hover-white:hover {
    text-shadow: rgb(255 255 255) 0px 0px 2px, 
    rgb(255 255 255) 0px 0px 4px, 
    rgb(225 227 230) 0px 0px 8px, 
    rgb(225 227 230) 0px 0px 12px, 
    rgb(225 227 230) 0px 0px 16px, 
    rgb(225 227 230) 0px 0px 22px, 
    rgb(225 227 230) 0px 0px 30px !important;
    color: #fff !important;
}

.shadow-green, .hover-green:hover {
    text-shadow: rgb(255 255 255) 0px 0px 2px, 
    rgb(255 255 255) 0px 0px 4px, 
    rgb(11 215 72) 0px 0px 8px, 
    rgb(11 215 72) 0px 0px 12px, 
    rgb(11 215 72) 0px 0px 16px, 
    rgb(11 215 72) 0px 0px 22px, 
    rgb(11 215 72) 0px 0px 30px !important;
    color: #fff !important;
}

.shadow-red, .hover-red:hover{
    text-shadow: rgb(255 255 255) 0px 0px 2px, 
    rgb(255 255 255) 0px 0px 4px, 
    rgb(255 42 77) 0px 0px 8px, 
    rgb(255 42 77) 0px 0px 12px, 
    rgb(255 42 77) 0px 0px 16px, 
    rgb(255 42 77) 0px 0px 22px, 
    rgb(255 42 77) 0px 0px 30px !important;
    color: #fff !important;
}

.shadow-blue, .hover-blue:hover{
    text-shadow: rgb(255 255 255) 0px 0px 2px, 
    rgb(255 255 255) 0px 0px 4px, 
    rgb(2 116 252) 0px 0px 8px, 
    rgb(2 116 252) 0px 0px 12px, 
    rgb(2 116 252) 0px 0px 16px, 
    rgb(2 116 252) 0px 0px 22px, 
    rgb(2 116 252) 0px 0px 30px !important;
    color: #fff !important;
}

.shadow-yellow, .hover-yellow:hover{
    text-shadow: rgb(255 255 255) 0px 0px 2px, 
    rgb(255 255 255) 0px 0px 4px, 
    rgb(255 249 124) 0px 0px 8px, 
    rgb(255 249 124) 0px 0px 12px, 
    rgb(255 249 124) 0px 0px 16px, 
    rgb(255 249 124) 0px 0px 22px, 
    rgb(255 249 124) 0px 0px 30px !important;
    color: #fff !important;
}

.shadow-pink, .hover-pink:hover{
    text-shadow: rgb(255 255 255) 0px 0px 2px, 
    rgb(255 255 255) 0px 0px 4px, 
    rgb(255 92 232) 0px 0px 8px, 
    rgb(255 92 232) 0px 0px 12px, 
    rgb(255 92 232) 0px 0px 16px, 
    rgb(255 92 232) 0px 0px 22px, 
    rgb(255 92 232) 0px 0px 30px !important;
    color: #fff !important;
}